{% extends "wizard/base.html" %}
{% load nm %}
{% load i18n %}

{% block content %}

<h1>{{target_desc}}</h1>

{% if not request.sso_username %}
<p>{% blocktrans %}You are not currently logged in. See the
<a href="https://wiki.debian.org/DebianSingleSignOn">Single Sign-On page</a>
for details.{% endblocktrans %}</p>
{% elif not visitor %}
<p>{% blocktrans with request_user_username=request.user.username %}You are
currently logged in with <a href="https://wiki.debian.org/DebianSingleSignOn">
SSO username</a> <b>{{request_user_username}}</b>, but you cannot be matched
to any person in the site.{% endblocktrans %}</p>
<p>
   {% url 'dm_claim' as dm_claim_url %}
   {% blocktrans %}If you are already in the site, for example as a Debian
Maintainer, you can try to correct the situation using the
<a href="{{dm_claim_url}}">claim interface</a>.{% endblocktrans %}</p>
<p>
   {% url 'dm_claim' as dm_claim_url %}
   {% blocktrans %}If you are already in the site, for example as a Debian
Maintainer, you can try to correct the situation using the
<a href="{{dm_claim_url}}">claim interface</a>.{% endblocktrans %}</p>
<p>
   {% url 'public_newnm' as public_newnm_url %}
   {% blocktrans %}If you are not yet in the site,
<a href="{{public_newnm_url}}">visit the 'Join the NM process' page</a>
to can create an entry for yourself.{% endblocktrans %}</p>
{% else %}
  {% for c in comments %}<p>{{c}}</p>{% endfor %}

  {% if allowed %}
  <p>
   {% url 'process_create' key=visitor.lookup_key as process_create_url %}
   {% blocktrans %}Just <a href="{{process_create_url}}">visit this page</a>
and follow the instructions.{% endblocktrans %}
  </p>
  {% endif %}
{% endif %}

{% if visitor %}
{% include "wizard/whoami.html" %}
{% endif %}

{% endblock %}

