{% extends "nm2-base.html" %}
{% load nm %}
{% load i18n %}
{% load tz %}

{% block head %}
{{block.super}}
{{mbox|json_script:"mbox"}}
<script src="{{STATIC_URL}}/js/mbox.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}/css/mbox.css" />
<style type="text/css">
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#main-content {
  flex: 2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#main-footer {
  flex: 0;
  display: none;
}
#reader {
  height: 100%;
  flex: 2;
  overflow: hidden;
}
#msgview {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
#summary {
  flex-grow: 1;
  flex-basis: 30%;
}
#header_container {
  flex-grow: 0;
  overflow: hidden;
}
#header {
  overflow: hidden;
  margin: 0;
}
#body_container {
  flex-grow: 2;
  height: 100%;
  overflow: hidden;
}
#body {
  height: 100%;
  overflow: auto;
  margin: 0;
}
tbody {
  cursor: pointer;
}
</style>
<script type="text/javascript">
(function($) {
"use strict";

// Mailbox to display
const mbox = JSON.parse(document.getElementById('mbox').textContent);

class MailboxViewer
{
    constructor(options)
    {
        this.options = options;
        this.mbox = options.mbox;
        this.el_reader = document.getElementById(options.reader);
        this.el_summary = document.getElementById(options.messages);
        this.el_header_container = document.getElementById(options.header_container);
        this.el_header = document.getElementById(options.header);
        this.el_body_container = document.getElementById(options.message_container);
        this.el_body = document.getElementById(options.message);

        this.mtable_short = new window.nm2.MessageTable({
            mbox: this.mbox,
            table: options.messages,
            height: "20ex",
            click_selects: true,
            on_quit: () => {
                this.show_summary();
            },
            on_focus: idx => {
                document.getElementById("header_date").textContent = this.mbox[idx].date_rfc;
                document.getElementById("header_from").textContent = this.mbox[idx].from;
                document.getElementById("header_subject").textContent = this.mbox[idx].subject;
                this.el_body.textContent = this.mbox[idx].body;
                this.el_body.scrollTop = 0;
            },
            on_select: idx => {
                this.show_message();
            },
        });

        this.el_body.addEventListener("keydown", evt => {
            const code = evt.code;
            let ignored = false;
            if (code == "Escape")
            {
                if (this.mode == "message_only")
                  this.show_message();
                else
                  this.show_summary();
            }
            else if (code == "ArrowLeft")
                this.mtable_short.prev_message();
            else if (code == "ArrowRight")
                this.mtable_short.next_message();
            else if (code == "Enter")
                this.show_message_only();
            else
                ignored = true;
            if (!ignored)
                evt.preventDefault();
        });

        this.show_summary();
    }

    show_summary()
    {
        $(this.el_summary).show();
        $(this.el_header_container).hide();
        $(this.el_body_container).hide();
        this.mtable_short.el_tbody.focus();
        this.mtable_short.focus_message();
        this.mode = "summary";
    }

    show_message()
    {
        $(this.el_summary).show();
        $(this.el_header_container).hide();
        $(this.el_body_container).show();
        this.el_body.focus();
        this.mtable_short.focus_message();
        this.mode = "message";
    }

    show_message_only()
    {
        $(this.el_summary).hide();
        $(this.el_header_container).show();
        $(this.el_body_container).show();
        this.el_body.focus();
        this.mode = "message_only";
    }
}

function maximize()
{
    $("#main-navbar1").hide();
    $("#maximize").addClass("d-none");
    $("#minimize").removeClass("d-none");
}

function minimize()
{
    $("#main-navbar1").show();
    $("#maximize").removeClass("d-none");
    $("#minimize").addClass("d-none");
}

function is_maximized()
{
    return $("#maximize").hasClass("d-none");
}

function main()
{
    let viewer = new MailboxViewer({
        mbox: mbox,
        reader: "reader",
        messages: "summary",
        header_container: "header_container",
        header: "header",
        message_container: "body_container",
        message: "body",
    });

    $("#maximize").click(evt => { maximize(); }).removeClass("d-none");
    $("#minimize").click(evt => { minimize(); });

    document.addEventListener("keydown", evt => {
        const code = evt.code;
        let ignored = false;
        if (code == "KeyM" && evt.ctrlKey)
        {
            if (is_maximized())
                minimize();
            else
                maximize();
        }
        else
            ignored = true;
        if (!ignored)
            evt.preventDefault();
    });
}

document.addEventListener("DOMContentLoaded", (evt) => { main(); });

})(jQuery);
</script>
{% endblock %}

{% block content %}

<div class="row justify-content-between">
  <div class="col">
    <h1>Mail archive</h1>
  </div>
  <div class="col text-right">
    <b>Enter</b> to select a message, <b>ESC</b> to go back.
    <a id="maximize" href="#" title="^M to toggle" class="btn btn-sm btn-primary d-none"><span class="fa fa-window-maximize"></span> Maximize</a>
    <a id="minimize" href="#" title="^M to toggle" class="btn btn-sm btn-primary d-none"><span class="fa fa-window-minimize"></span> Restore</a>
  </div>
</div>

<div id="reader">

<div id="msgview">
  <div id="summary" class="mbox-messages">
    <table class="table table-sm">
    <tbody tabindex="0">
    </tbody>
    </table>
  </div>

  <div class="card" id="header_container">
    <table class="table table-sm" id="header">
      <thead>
        <th id="header_date"></th>
        <th id="header_from"></th>
        <th id="header_subject"></th>
      </thead>
    </table>
  </div>

  <div class="card" id="body_container">
    <pre id="body" class="card-body" tabindex="0">
    </pre>
  </div>
</div>

</div>

{% endblock %}
