<p>Every Debian Contributor, to gain access to project resources, needs to know
and agree with these documents:
<dl>
  <dt><a href="https://www.debian.org/social_contract">Debian Social Contract</a> (SC)</dt>
  <dd>Defines the common principles for all work in Debian</dd>
  <dt><a href="https://www.debian.org/social_contract#guidelines">Debian Free Software Guidelines</a> (DFSG)</dt>
  <dd>Defines what is Free Software for Debian</dd>
  <dt><a href="https://www.debian.org/code_of_conduct">Debian Code of Conduct</a> (CoC)</dt>
  <dd>Defines expectations for communication and behaviour within the Debian community</dd>
  <dt><a href="https://www.debian.org/devel/dmup">Debian Machine Usage Policies</a> (DMUP)</dt>
  <dd>Defines the rules for accessing Debian machines</dd>
</dl>
</p>

<p>Since a person's identity in Debian is defined by the OpenPGP key, we
require a signed statement of agreement for each key that is used in the
project.</p>

{% if edit %}
<p>This page allows to manage the agreements automatically. To add or change
the signed agreement to SC/DFSG/DMUP, paste it in the form below.</p>
{% endif %}
