{% load i18n %}

{% if "add_log" in visit_perms and not readonly %}
<p>
<form id="log_form" method="POST" action="{% url 'process_add_log' pk=process.pk %}">{% csrf_token %}
  {% if requirement %}
  <input type="hidden" name="req_type" value="{{requirement.type}}">
  {% endif %}
  {% trans "Add log entry:" %}
  <br/>
  <textarea name="logtext" rows="3" cols="80" placeholder="{% trans "vacation notice / remark about the process / status update / ..." %}"></textarea>
  <br/>
  <button class="btn btn-primary btn-sm" id="log_public" type="submit" name="add_action" value="log_public">{% trans "Comment" %}</button>
  <button class="btn btn-primary btn-sm" id="log_private" type="submit" name="add_action" value="log_private">{% trans "Comment (confidential)" %}</button>
  {% if requirement %}
  {% if "req_approve" in visit_perms %}<button class="btn btn-primary btn-sm" id="req_approve" type="submit" name="add_action" value="req_approve">{% trans "Approve" %} {{type_desc}}</button>{% endif %}
  {% if "req_unapprove" in visit_perms %}<button class="btn btn-primary btn-sm" id="req_unapprove" type="submit" name="add_action" value="req_unapprove">{% trans "Unapprove" %} {{type_desc}}</button>{% endif %}
  {% else %}
  {% if "proc_pause" in visit_perms %}<button class="btn btn-primary btn-sm" id="proc_pause" type="submit" name="add_action" value="proc_pause">{% trans "Hold" %}</button>{% endif %}
  {% if "proc_unpause" in visit_perms %}<button class="btn btn-primary btn-sm" id="proc_unpause" type="submit" name="add_action" value="proc_unpause">{% trans "Return from hold" %}</button>{% endif %}
  {% if "proc_freeze" in visit_perms %}<button class="btn btn-primary btn-sm" id="proc_freeze" type="submit" name="add_action" value="proc_freeze">{% trans "Freeze for review" %}</button>{% endif %}
  {% if "proc_unfreeze" in visit_perms %}<button class="btn btn-primary btn-sm" id="proc_unfreeze" type="submit" name="add_action" value="proc_unfreeze">{% trans "Unfreeze for further work" %}</button>{% endif %}
  {% if "proc_approve" in visit_perms %}<button class="btn btn-primary btn-sm" id="proc_approve" type="submit" name="add_action" value="proc_approve">{% trans "Approve (old)" %}</button>{% endif %}
  {% if "proc_approve" in visit_perms %}<button class="btn btn-primary btn-sm" id="proc_approve" type="submit" name="add_action" value="proc_approve_form">{% trans "Approve process" %}</button>{% endif %}
  {% if "proc_unapprove" in visit_perms %}<button class="btn btn-primary btn-sm" id="proc_unapprove" type="submit" name="add_action" value="proc_unapprove">{% trans "Unapprove process" %}</button>{% endif %}
  {% endif %}
</form>
</p>
{% endif %}
<table class="table table-sm">
  <thead>
    <tr>
      <th>{% trans "Date" %}</th>
      <th>{% trans "Author" %}</th>
      {% if not requirement %}
      <th>{% trans "Requirement" %}</th>
      {% endif %}
      <th>{% trans "Action" %}</th>
      <th>{% trans "Content" %}</th>
      <th>{% trans "Public" %}</th>
      {% if visitor.is_admin %}
      <th>{% trans "Actions" %}</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for e in entries %}
    {% if e.is_public or "view_private_log" in visit_perms or e.changed_by == request.user %}
    <tr>
      <td>{{e.logdate|date:"Y-m-d H:i"}}</td>
      <td>{{e.changed_by.a_link}}</a></td>
      {% if not requirement %}
      <td>
        {% if e.requirement %}
          {{e.requirement.a_link}}
        {% else %}
          -
        {% endif %}
      </td>
      {% endif %}
      <td>{{e.action|default:"-"}}</td>
      <td>{{e.logtext}}</td>
      <td>{{e.is_public|yesno}}</td>
      {% if visitor.is_admin %}
      <td><a href="{% url 'admin:process_log_change' e.pk %}">{% trans "admin" %}</a></td>
      {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
