{% extends "nm2-base.html" %}
{% load nm %}

{% block head %}
{{block.super}}
<script type="text/javascript">
(function($) {
"use strict";

function main()
{
    let table = $("#inconsistencies").DataTable({
        paging: false,
        order: [],
        columns: [
          {
            render: (data, type, row, meta) => {
              if (type == "sort")
                return $(data).attr("datetime");
              return data;
            },
          },
          {
            render: (data, type, row, meta) => {
              if (type == "sort")
                return $(data).attr("datetime");
              return data;
            },
          },
          {
            render: (data, type, row, meta) => {
              if (type == "sort")
                return $(data).attr("datetime");
              return data;
            },
          },
          null, null, null, null,
        ],
    });
}

document.addEventListener("DOMContentLoaded", evt => { main(); });

})(jQuery);
</script>
{% endblock %}

{% block content %}

<h1>Inconsistencies</h1>

{% include "sitechecks/inconsistency_table.html" with inconsistencies=inconsistencies %}

{% endblock %}

