{% extends "nm2-base.html" %}
{% load i18n %}

{% block head %}
{{block.super}}
<script type="text/javascript">
(function($) {
"use strict";

function main()
{
    let table = $("#amtable").DataTable({
        paging: false,
        order: [],
    });
}

document.addEventListener("DOMContentLoaded", evt => { main(); });

})(jQuery);
</script>
{% endblock %}


{% block content %}

<h1>{% trans "Debian New Member - Application Manager List" %}</h2>

<div class="lead mb-3">
{% blocktrans %}This is a list of all Application Managers. Click on a header
to sort the table. Shift-click to sort by more than one element.{% endblocktrans %}
</div>

<table id="amtable" class="table table-hover table-sm">
    <thead>
        <tr>
            <th>{% trans "Since" %}</th>
            <th>{% trans "Uid" %}</th>
            <th>{% trans "Name" %}</th>
            {% if visitor.is_am %}
            <th>{% trans "Cur" %}</th>
            <th>{% trans "Max" %}</th>
            <th>{% trans "Hold" %}</th>
            <th>{% trans "Done" %}</th>
            {% endif %}
            <th>{% trans "Active" %}</th>
            <th>{% trans "Ctte" %}</th>
            <th>{% trans "FD" %}</th>
            <th>{% trans "DAM" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for am in ams %}
        <tr>
            <td>{{am.created|date:"Y-m-d"}}</td>
            <td>{{am.person.ldap_fields.uid}}</td>
            <td><a href="{{ am.person.get_absolute_url }}">{{am.person.fullname}}</a></td>
            {% if visitor.is_am %}
            <td>{{am.stats_active}}</td>
            <td>{{am.slots}}</td>
            <td>{{am.stats_held}}</td>
            <td>{{am.stats_done}}</td>
            {% endif %}
            <td>{{am.is_am|yesno:"yes,-"}}</td>
            <td>{{am.is_am_ctte|yesno:"ctte,-"}}</td>
            <td>{{am.is_fd|yesno:"fd,-"}}</td>
            <td>{{am.is_dam|yesno:"dam,-"}}</td>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

